.tableTools-buttons {
  margin-bottom:8px;
}

.visualizar {
  color:#478FCA !important;
}

.editar {
  color:#69AA46 !important;
}

.deletar {
  color:#DD5A43 !important;
}

.navbar-admin {
  background:#2E6589 !important;
}

.sidebar .sidebar-shortcuts-large > .btn-admin {
  border-width:4px;
  line-height:24px;
  padding:0;
  text-align:center;
  width:176px;
}

.sidebar .sidebar-shortcuts-mini > .btn-admin {
  border-radius:0;
  border-width:0;
  font-size:0;
  line-height:0;
  margin:1px;
  opacity:0.85;
  padding:17px;
}

.btn-admin {
  -webkit-transition:background-color 0.15s, border-color 0.15s, opacity 0.15s;
  background-image:none !important;
  border:5px solid #FFFFFF;
  border-radius:0;
  box-shadow:none !important;
  color:#FFFFFF !important;
  cursor:pointer;
  display:inline-block;
  margin:0;
  position:relative;
  text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
  transition:background-color 0.15s, border-color 0.15s, opacity 0.15s;
  vertical-align:middle;
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

.condominium {
  color:#478FCA;
  font-weight:bold;
}

.pequeno-espaco {
  padding-left: 8px;
}

.espaco {
  padding-right: 2px;
  padding-left: 16px;
}

.margem {
  padding-right: 0px;
  padding-left: 2px;
}

.info-row {

}

.info-name {
  color:#667E99;
}

.info-value {
  color:#000000;
}

.styled-select select {
   background: #438EB9;
   color: #EEE;
   padding: 5px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 36px;
   -webkit-appearance: none;
   -moz-appearance: none; /* Removes Default Firefox style*/
}

.styled-select-admin select {
   background: #2E6589;
   color: #EEE;
   padding: 5px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 36px;
   -webkit-appearance: none;
   -moz-appearance: none; /* Removes Default Firefox style*/
}

.ace-nav > li.dark-blue > a {
  background-color:#2E6589 !important;
}

.modal.aside-vc.navbar-offset .modal-dialog .aside-trigger {
  top:50px!important;
}

.more {
  font-size:16px !important;
}

.bigger {
  font-size:20px !important;
}

.message-item .data {
  float:right !important;
  height:18px !important;
  overflow:hidden !important;
  text-overflow:ellipsis !important;
  white-space:nowrap !important;
  width:100px !important;
}